# venv
venv/
.env/

# python
__pycache__/
*.pyc
*.pyo

# pyinstaller
build/
dist/
*.spec

# arquivos locais
data/input/*
data/output/*

# IDE
.vscode/
.idea/

# logs
*.log
*.csv

# sistema
.DS_Store
Thumbs.db